@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");

$fontFamily: "Roboto", sans-serif;

.acc-header {
  border-bottom: 1px solid rgb(202, 202, 202);
  min-height: 30px;
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.headerTitle {
  overflow-wrap: break-word;
  overflow: auto;
  font-family: $fontFamily;
  font-size: 20px;
}

.acc-body {
  min-height: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  background-color: rgb(250, 250, 250);
  font-family: $fontFamily;
  font-size: 17px;
}

.arrow {
  font-size: 18px;
}
